<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.DeptMapper">

    <select id="findAll" resultType="com.erp.pojo.Dept">
        select * from  dept
    </select>
    <delete id="remove">
        delete  from `dept` where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        update `dept` set `name`=#{dept.name},tel=#{dept.tel} where id=#{dept.id}
    </update>

    <select id="findById" resultType="com.erp.pojo.Dept">
        select * from  `dept` where id=#{id}
    </select>
    <select id="count" resultType="int">
        select count(*) from `dept`
    </select>
	<!--
	 List<Dept> page(@Param("startNum") int startNum,@Param("pageNum") int pageSize);
-->
    <select id="page" resultType="com.erp.pojo.Dept">
        select * from `dept`
        limit #{startNum},#{pageSize}
    </select>
    <insert id="add">
        insert  into  `erp_ssm`.`dept` (`name`,`tel`) values (#{dept.name},#{dept.tel})
    </insert>
</mapper>