<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.PermissionMapper">
    <resultMap id="treeMap" type="com.erp.util.TreeResultUtil">
        <id property="id" column="p_id"/>
        <result property="text" column="p_name"/>
        <result property="iconCls" column="p_img_url"/>
        <result property="url" column="p_url"/>
        <collection property="children" ofType="com.erp.util.TreeResultUtil">
            <id property="id" column="c_id"/>
            <result property="text" column="c_name"/>
            <result property="iconCls" column="c_img_url"/>
            <result property="url" column="c_url"/>
        </collection>
    </resultMap>
    <select id="getPerms" resultMap="treeMap">
        SELECT
        pp.id p_id,pp.`name` p_name,pp.img_url p_img_url,pp.url p_url
        ,pc.id c_id,pc.`name` c_name ,pc.img_url c_img_url,pc.url c_url
        FROM
        permission pp,permission pc,role_permission rps,
            emp_role erl,emp
        WHERE pc.pid=pp.id and rps.permission_id=pc.id
        and  erl.role_id=rps.role_id and emp.id =erl.emp_id
        and emp.username=#{username}
        group by pc.id
    </select>
    <select id="list" resultMap="treeMap">
        SELECT
        pp.id p_id,pp.`name` p_name,pp.img_url p_img_url
        ,pc.id c_id,pc.`name` c_name ,pc.img_url c_img_url
        FROM
        permission pp,permission pc
        WHERE pc.pid=pp.id
    </select>
    <select id="findPermissionIdsByRoleId" resultType="int">
        select permission_id from  role_permission
        where role_id=#{roleId}
    </select>
    <delete id="deleteRolePermByroleId">
        delete  from role_permission where role_id = #{roleId}
    </delete>
    <insert id="addRolePerm">
        insert into role_permission (role_id,permission_id)
        values
        <foreach collection="permIds" separator="," item="permId">
            (#{roleId},#{permId})
        </foreach>
    </insert>

</mapper>